html {
  body {
    @include typographic-scale(default);
    @include vertical-rhythm;
    padding: 0 $lem;

    section {
      // Common settings
      > h3 {
        margin-top: $lem * 2;
        margin-bottom: $lem;
        @include text-style(section-title);
      }

      article {
        > h3 {
          @include text-style(article-title);
        }

        aside {
          > h3 {
            @include text-style(section-subtitle);
          }
        }
      }



      &#fonts {
        @include fonts;
      }

      &#text-styles {
        @include section-text-styles;
      }
    }
  }
}
