html {
  body {
    @include typographic-scale(default);
    @include vertical-rhythm;
    padding: 0 $lem;

    section {
      > h3 {
        display: none;
      }

      article {
        .description {
          @include text-style(body-text);
          margin-bottom: $lem;
        }
      }

      &#fonts {
        article {
          h3 {
            @include text-style(article-title);
          }

          .link {
            margin: $lem 0;
          }
        }
      }

      &#text-styles {
        article {
          > h3 {
            @include text-style(section-title);
          }

          aside {
            > h3 {
              @include text-style(section-subtitle);
            }

            .example {
              &.body-text {
                @include text-style(body-text);
              }
            }
          }
        }
      }
    }
  }
}
